{% extends 'base.html' %}

{% block content %}

<h1>Lista de productos</h1>

<form method="get">
    <input type="text" name="buscar" placeholder="Buscar producto">
    <button type="submit">Buscar</button>
</form>

<a href="{% url 'producto_create' %}">Crear producto</a>

<ul>
    {% for producto in productos %}
        <li>
            {{ producto.nombre }} - ${{ producto.precio }}

            <a href="{% url 'producto_detail' producto.pk %}">Ver</a>

            <a href="{% url 'producto_update' producto.pk %}">Editar</a>

            <a href="{% url 'producto_delete' producto.pk %}">Eliminar</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}